body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.item {
    background-color: #adb6ad;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}


.grid-container2 {
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item {
    font-size: 30px;
    text-align: center;
    background-color: azure;
    color: black;
    padding: 20px;
}